body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:787px;
  width:201px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:258px;
  top:677px;
  width:10px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:282px;
  top:677px;
  width:10px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:306px;
  top:677px;
  width:10px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:188px;
  top:257px;
  width:200px;
  height:280px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u13 {
  position:absolute;
  left:2px;
  top:132px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:577px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:430px;
  top:130px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:550px;
  top:100px;
  width:375px;
  height:667px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:550px;
  top:100px;
  width:375px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:708px;
  top:677px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:732px;
  top:677px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:756px;
  top:677px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:638px;
  top:257px;
  width:200px;
  height:280px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u29 {
  position:absolute;
  left:2px;
  top:132px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:724px;
  top:577px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:880px;
  top:130px;
  width:27px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1000px;
  top:100px;
  width:375px;
  height:667px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u35 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1000px;
  top:100px;
  width:375px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1158px;
  top:677px;
  width:10px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1182px;
  top:677px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1206px;
  top:677px;
  width:10px;
  height:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1088px;
  top:257px;
  width:200px;
  height:280px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u45 {
  position:absolute;
  left:2px;
  top:132px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1102px;
  top:577px;
  width:170px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1330px;
  top:130px;
  width:27px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
